# Visual Studio temporary files
.vs/
*.vscode/
*.suo
*.user
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]elwithdebinfo/
[Oo]ut/
x64/
x86/
arm/
arm64/

# Visual Studio Installer
*.appx
*.appxbundle
*.msix
*.msixbundle
*.vsix

# Backup files
*.bak
*.swp
*.tmp
*.log

# Other files
*.pdb
*.obj
*.exe
*.dll
*.idb
*.ilk
*.ipch/
*.pch
*.sdf
*.sln.ide